<!--
   
<!DOCTYPE html

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHIETA Dashboard</title>
    <link rel="stylesheet" href="~/Content/StakeholderLanding.css" />
</head>
<body></body>

<div class="navbar">
    <img src="~/Content/StakeholderLandingImages/Logo.png" alt="CHIETA Logo" />
</div>

<div class="container">
    <div class="title">Log an Inquiry</div>
    

    <div class="dropdown">
        <select>
            <option value="">Feedback Follow-Up</option>
            <option value="">Training Availability</option>
            <option value="">Accreditation and Compliance</option>
            <option value="">Funding and Grants</option>
            <option value="">Boardroom / Facility Use</option>
            <option value="">Other</option>
        </select>
    </div>
    

    <div class="comment-section">
        <label for="issue">Describe Issue:</label>
        <textarea id="issue" placeholder="Type your issue here..."></textarea>

        <button id="submitBtn" type="button">Submit</button>
        -->

        <!---

<<<<<<< HEAD
        <div
=======
    </div>
</div>
-->
<!---
@section Scripts {

    <script>
                        document.getElementById("submitBtn").addEventListener("click", function () {
          document.getElementById("confirmationMessage").style.display = "block";
        });
        

    </script>
    -->
    <!---
    <a href="c:\users\27658\source\repos\stakeholderchieta1\views\log inquiry\loginquiry.cshtml">c:\users\27658\source\repos\stakeholderchieta1\views\log inquiry\loginquiry.cshtml</a>
    }
    </html>

 
>>>>>>> eae1c82491a761d53bca79ecf7a365bbec87515
--> 
